/* general */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Open-sans", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

img {
    width: 100%;
}

.img-bg {
    margin-bottom: -5px;;
}

/* links */

a {
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* buttons */

.button {
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
}

.button__nav {
    color: #FF52C1;
    border: solid 2px #FF52C1;
    height: 40px;
}

.button__nav:hover {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.button__cta {
    background-color: #FF52C1;
    color: #FFF;
    width: 250px;
    margin: 0 auto;
}

.button__subscribe {
    background-color: #FF52C1;
    color: #FFF;
    height: 40px;
}

.button__cta:hover,
.button__subscribe:hover {
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    background-color: #FF52C1;
    cursor: pointer;
}

/* header */

header, main {
    width: 80%;
    margin: 0 auto;
}

.header__cta {
    text-align: center;
    margin: 10em 3em 3em 3em;
}

.header__bg-img {
    width: 80%;
    margin: 0 auto;
}

.header__description {
    width: 50%;
    margin: 0 auto;
}

.metrics__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
}

.metrics__content {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
}

.metrics__icon {
    width: 10%;
}

.metrics__number {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.muted__text {
    color: #777;
}

/* cards */

.card__container {
    margin: 5em 0;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-with-bg {
    background-color: #F6FBFF;
}

.card__text {
    padding-left: 3em;
}

.card__text,
.card__img {
    flex-basis: 50%;
}

.cta {
    width: 50%;
    margin: 0 auto 5em;
    text-align: center;
}

/* footer */

footer {
    background-color: #01262F;
    color: #FFF;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
}

ion-icon {
    font-size: 28px;
}

.footer__contact, 
.footer__newsletter {
    flex-basis: 50%;
    padding: 4em;
}

.footer__contact img {
    width: 40%;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts p {
    margin-left: 10px;
}

.newsletter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

input[type=email] {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px 5px 0;
    height: 40px;
}

.footer__social-list {
    list-style: none;
    display: flex;
    padding: 0 0 2em 4em;
    margin-bottom: 1em;
}

.footer__social-list li {
    border: 1px solid #777;
    padding: 8px 0;
    margin: 5px;
}

.footer__social-list a {
    padding: 10px;
}

.footer__social-list a:hover {
    color: #FF52C1;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-bottom: 10px;
}

.attribution a {
    color: #6D6F78;
}

/* media queries */

@media (max-width: 450px) {
    .logo {
        width: 60%;
    }
    .button__nav {
        height: 30px;
        width: 120px;
    }
    header {
        width: 95%;
    }
    .header__cta {
        margin: 5em 1em;
    }
    .header__description {
        width: 80%;
    }
    .metrics__container {
        flex-direction: column;
        align-items: center;
    }
    .metrics__content {
        align-items: flex-start;
    }
    .card__container {
        margin: 2em 0;
    }
    .middle-card {
        flex-direction: column;
    }
    .card-with-bg {
        flex-direction: column-reverse;
    }
    .card__text {
        padding-left: 0;
    }
    .cta {
        width: 95%;
    }
    .footer__container {
        flex-direction: column-reverse;
    }
    .footer__contact, 
    .footer__newsletter {
        padding: 2em;
    }
    input[type=email] {
        width: 95%;
    }
    .footer__social-list {
        padding: 0 0 1em 2em;
    }
}